/* CSS Document */

/*
Titles
font-family: 'K2D', sans-serif;
Content
font-family: 'Lato', sans-serif;
*/

#wrapper{
	text-align: center;
	background: #6F0001;
	width: 70%;
	padding: 10px;
	font-size: 1.3em;
	border-radius: 15px;
}
body{
	color: #FFFFFF;
	background: #292929;
}

#hook{
	font-size: 2.5em;
	font-family: 'K2D', sans-serif;
}